@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
	margin: 0;
	padding: 0;
}

header{

	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: 100vh;

}


header h1{

	display: flex;
	justify-content: center;
	font-size: 50px;
	font-weight: 200;
	letter-spacing: 15px;
	color: white;
	text-shadow: black;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

nav{

	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 5vh;
	width: 100%;
	opacity: 0;
}

nav a{

	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: black;
}

.titulo{

	font-size: 50px;
	font-weight: 200;
	letter-spacing: 15px;
	margin: 0 4em;
	text-align: center;
}

.logo{

	font-size: 55px;
}

.menu{

	font-size: 55px;
	color: black;
}

.menu a{

	position: absolute;
	text-decoration: none;
	color: black;
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
}

section{

	position: relative;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

video{

	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
	object-fit: cover;
}