@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

header{

	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: 100vh;

}

.portada{

	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	font-weight: 200;
	letter-spacing: 15px;
	color: white;
	text-shadow: -3px 0px 6px #000;
	text-align: center;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	z-index: 1;
	animation: opacidad 2s;
 	animation-fill-mode: forwards;
}

@keyframes opacidad {
  from {transform: scale(0.8); opacity: 0;}
  to {transform: scale(1); opacity: 1;}
}

nav{

	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-around;
	top: 5vh;
	width: 100%;
	display: none;
}

nav a{

	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: black;
}


.titulo{

	font-size: 50px;
	font-weight: 200;
	letter-spacing: 15px;
	margin: 0 4em;
	text-align: center;
}

.logo{

	font-size: 55px;
}

.menu{

	font-size: 55px;
	color: black;
}

.menu a{

	position: absolute;
	text-decoration: none;
	color: black;
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
}

section{

	position: relative;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

video{

	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
	object-fit: cover;
	pointer-events: auto;
}