*{
	margin: 0;
	padding: 0;
}

.contenedor{

	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.contenedor video{

	margin: auto;
	width: 400px;
	clip-path: url(#texto);
}

.ocean{

	position: absolute;
	width: 0;
	height: 0;
}

.contenedor svg{

	position: absolute;
	bottom: 0;
	width: 100%;
}